xnat-ccdb-plugin/src/main/resources/schemas/ccdb/ccdb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ xnat-ccdb: xnat-ccdb-plugin/src/main/resources/schemas/ccdb/ccdb.xsd
  ~ XNAT http://www.xnat.org
  ~ Copyright (c) 2017, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  -->

<!--
	TODO: You can use this as the basis for an XNAT data-type definition or simply delete it. Note that there are other
	files related to the data type defined here:

	 - src/main/java/org/apache/turbine/app/xnat/modules/screens/XDATScreen_edit_ccdb_hotel.java
	 - src/main/java/org/apache/turbine/app/xnat/modules/screens/XDATScreen_report_ccdb_hotel.java
	 - src/main/resources/META-INF/resources/templates/screens/XDATScreen_edit_ccdb_hotel.vm
	 - src/main/resources/META-INF/resources/templates/screens/XDATScreen_report_ccdb_hotel.vm
	 - src/main/resources/META-INF/resources/templates/screens/xnat_subjectData/actionsBox/hotel.vm
-->
<xs:schema targetNamespace="http://nrg.wustl.edu/ccdb" xmlns:ccdb="http://nrg.wustl.edu/ccdb" xmlns:xnat="http://nrg.wustl.edu/xnat"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="hotel" type="ccdb:hotel"/>

    <xs:complexType name="hotel">
        <xs:annotation>
            <xs:documentation>A hotel image session data type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageSessionData">
                <xs:sequence>
                    <xs:element name="hotel_id">
                        <xs:annotation>
                            <xs:documentation>Unique ID of a Hotel Arrangement</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <xs:element name="subject_sequence">
                        <xs:annotation>
                            <xs:documentation>Ordered list of subject IDs captured in hotel session.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- PET -->
                    <xs:element name="scan_name_pet">
                        <xs:annotation>
                            <xs:documentation>Unique name indicating an image session (PET/CT/etc) of a Hotel Arrangement</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 1 -->
                    <xs:element name="pos1_time_points">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos1_weight">
                        <xs:annotation>
                            <xs:documentation>Subject/animal weight</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos1_activity_mCl">
                        <xs:annotation>
                            <xs:documentation>Activity mCl</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos1_scan_time_pet">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos1_injection_time">
                        <xs:annotation>
                            <xs:documentation>Time of injection</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 2 -->
                    <xs:element name="pos2_time_points">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos2_weight">
                        <xs:annotation>
                            <xs:documentation>Subject/animal weight</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos2_activity_mCl">
                        <xs:annotation>
                            <xs:documentation>Activity mCl</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos2_scan_time_pet">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos2_injection_time">
                        <xs:annotation>
                            <xs:documentation>Time of injection</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 3 -->
                    <xs:element name="pos3_time_points">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos3_weight">
                        <xs:annotation>
                            <xs:documentation>Subject/animal weight</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos3_activity_mCl">
                        <xs:annotation>
                            <xs:documentation>Activity mCl</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos3_scan_time_pet">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos3_injection_time">
                        <xs:annotation>
                            <xs:documentation>Time of injection</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 4 -->
                    <xs:element name="pos4_time_points">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos4_weight">
                        <xs:annotation>
                            <xs:documentation>Subject/animal weight</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos4_activity_mCl">
                        <xs:annotation>
                            <xs:documentation>Activity mCl</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos4_scan_time_pet">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pos4_injection_time">
                        <xs:annotation>
                            <xs:documentation>Time of injection</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- CT -->
                    <xs:element name="scan_name_ct">
                        <xs:annotation>
                            <xs:documentation>Unique name indicating an image session (PET/CT/etc) of a Hotel Arrangement</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="scan_time_ct">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>



                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
