xnat-ccdb-plugin/src/main/resources/schemas/ccdb/hotelCT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ xnat-ccdb: xnat-ccdb-plugin/src/main/resources/schemas/ccdb/ccdb.xsd
  ~ XNAT http://www.xnat.org
  ~ Copyright (c) 2017, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  -->

<!--
	TODO: You can use this as the basis for an XNAT data-type definition or simply delete it. Note that there are other
	files related to the data type defined here:

	 - src/main/java/org/apache/turbine/app/xnat/modules/screens/XDATScreen_edit_ccdb_hotel.java
	 - src/main/java/org/apache/turbine/app/xnat/modules/screens/XDATScreen_report_ccdb_hotel.java
	 - src/main/resources/META-INF/resources/templates/screens/XDATScreen_edit_ccdb_hotel.vm
	 - src/main/resources/META-INF/resources/templates/screens/XDATScreen_report_ccdb_hotel.vm
	 - src/main/resources/META-INF/resources/templates/screens/xnat_subjectData/actionsBox/hotel.vm
-->
<xs:schema targetNamespace="http://nrg.wustl.edu/ccdb" xmlns:ccdb="http://nrg.wustl.edu/ccdb" xmlns:xnat="http://nrg.wustl.edu/xnat"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="hotelCT" type="ccdb:hotelCT"/>

    <xs:complexType name="hotelCT">
        <xs:annotation>
            <xs:documentation>A hotel image session data type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageSessionData">
			 <xs:sequence>
					<xs:element name="organ_of_interest" type="xs:string" minOccurs="0"/>
                    <!-- Position 1 -->
                    <xs:element name="pos1_scan_time_ct" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos1_animal_num" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal Number</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos1_hotel_position" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Hotel Position</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos1_subject_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Subject Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos1_session_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Session Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos1_notes" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Notes</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 2 -->
                    <xs:element name="pos2_scan_time_ct" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos2_animal_num" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal Number</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos2_hotel_position" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Hotel Position</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos2_subject_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Subject Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos2_session_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Session Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos2_notes" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Notes</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 3 -->
                    <xs:element name="pos3_scan_time_ct" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos3_animal_num" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal Number</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos3_hotel_position" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Hotel Position</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos3_subject_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Subject Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos3_session_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Session Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos3_notes" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Notes</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                    <!-- Position 4 -->
                    <xs:element name="pos4_scan_time_ct" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Time of scan</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos4_animal_num" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal Number</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos4_hotel_position" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Hotel Position</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos4_subject_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Subject Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos4_session_label" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Session Label</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pos4_notes" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Notes</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>

                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
